.container{
	margin: 0 auto;
	width: 960px;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #ef672f;
	box-shadow: 2px 2px 30px #000;
}

header .logo{
	float: left;
}

header nav{
	float: left;
}

header nav ul{
  /*List style reset*/
	margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li{
  float: left;
}

header nav ul li:hover{
  background-color: #31302b;
}

header nav ul li a{
  display: block;
  padding: 38px;
  padding-bottom: 39px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

footer{
  width: 100%;
  height: 75px;
  background-color: #31302b;
  padding-top: 30px;
  box-shadow: -2px -2px 30px #000;
}

footer p{
  color: white;
  font-weight: bold;
  text-align: center;

}

#content{
  padding-top: 150px;
}

section{
  margin-bottom: 50px;
}

.event{
  display: inline-block;
  margin-right: 25px;
}

.event.last{
  margin-right: 0px;
}

.upcoming_news {
  overflow: auto;
}

.upcoming_news .news {
  float: left;
  width: 50%;
  /*causes element to scale inward*/
  box-sizing: border-box;
}

.upcoming_news .news.right{
  padding-left: 30px;
  max-height: 300px;
  /*can target specifically x or y axis*/
  overflow-y: auto;
}

.upcoming_news .news.right h3{
  margin-top: 0;
}



