.container{
	margin: 0 auto;
	width: 960px;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #ef672f;
	box-shadow: 2px 2px 30px #000;
  z-index: 100;
}

header .logo{
	float: left;
}

header nav{
	float: left;
}

header nav ul{
  /*List style reset*/
	margin: 0;
  padding: 0;
  list-style-type: none;
}

/*target only top level nav items*/
header nav #main-nav > li{
  float: left;
  position: relative;
}

/*dropdown functionality*/
header nav ul.dropdown{
  /*display: none;*/
  opacity: 0;
  position: absolute;
  margin-top: -99999px;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: #31302b;
  transition: opacity 0.4s ease-in-out;
}

header nav li.has-dropdown:hover > ul.dropdown{
  /*display: block;*/
  opacity: 1;
  margin-top: 0px;
}
/*end dropdown functionality*/

/*color dropdown items*/
header nav ul.dropdown li:hover{
  background-color: #bbb;
}
/*end color dropdown*/

header nav ul li{
  transition: background-color 0.3s ease-in-out ;
}

header nav ul li:hover{
  background-color: #31302b;
}

header nav ul li a{
  display: block;
  padding: 38px;
  padding-bottom: 39px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

footer{
  width: 100%;
  height: 75px;
  background-color: #31302b;
  padding-top: 30px;
  box-shadow: -2px -2px 30px #000;
}

footer p{
  color: white;
  font-weight: bold;
  text-align: center;

}

#content{
  padding-top: 150px;
}

section{
  margin-bottom: 50px;
}

.event{
  display: inline-block;
  position: relative;
  margin-right: 25px;
}

.event.last{
  margin-right: 0px;
}

/*EVENT OVERLAY FUNCTIONALITY*/
.overlay{
  width: 0;
  height: 350px;
  position: absolute;
  background-color: black;
  opacity: .4;
  transition: all .5s ease-in-out;
}

.event:hover .overlay{
  width: 300px;
}

.event .overlay.right-to-left{
  right: 0;
}

.events .event:nth-child(2):hover .overlay.right-to-left{
  width: 300px;
}

.event .overlay.down-to-up{
  bottom: 0;
  height: 0;
  width: 100%;
}

.events .event:nth-child(3):hover .overlay.down-to-up{
  height: 50%;
}

.events .event .overlay.up-to-down{
  height: 0;
  width: 100%;
}

.events .event:nth-child(4):hover .overlay.up-to-down {
  height: 50%;
}

.events .event .overlay.scale{
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  opacity: 0;
  transform: scale(none);
}

.events .event:nth-child(5):hover .overlay.scale {
  opacity: .4;
  transform: scale(300,350);
}

/*END EVENT OVERLAY*/

.upcoming_news {
  overflow: auto;
}

.upcoming_news .news {
  float: left;
  width: 50%;
  /*causes element to scale inward*/
  box-sizing: border-box;
}

.upcoming_news .news.right{
  padding-left: 30px;
  max-height: 300px;
  /*can target specifically x or y axis*/
  overflow-y: auto;
}

.upcoming_news .news.right h3{
  margin-top: 0;
}

#footer_banner{
  position: relative;
}

.circle-container{
  position: absolute;
  top: 5px;
  left: 5px;
}

.circle{
  border-radius: 100%;
  margin-right: 20px;
  box-shadow: 3px 3px 20px white;
  transition: transform 0.1s ease-in-out;
}

.circle:hover{
  transform: scale(1.2);
}


